[Desktop Entry]
Name=Irssi
Comment=The client of the future
Exec=urxvt -e "irssi"
Icon=irssi
Terminal=true
Type=Application
Categories=Network;InstantMessaging;
